<div class= 'footer container-fluid'>
	
	<div class='container'>

		<div class='row'>

			<div class='col-xs-12 col-md-8'> 
				<ul class="nav nav-tabs">
					<li>
						<%= link_to t("main_nav.Home").to_s, root_path %>
					</li>
					<li>
						<%= link_to t("main_nav.About").to_s, about_path %>
					</li>
					<li>
						<%= link_to t("main_nav.Services").to_s, services_path %>
					</li>
					<li>
						<%= link_to t("main_nav.Subsidiary").to_s, iit_corp_path %>
					</li>
					<li>
						<%= link_to t("main_nav.Contacts").to_s, contacts_path %>
					</li>
				</ul>
			</div>

			<div class='col-xs-12 col-md-4'>
				<div class='copyright'>
					<p>NACENOPTO</p>
					<p><%= t('footer.Content').to_s %> Nacenopto 2014</p>
					<p><%= t('footer.Design').to_s %> Trần Tuấn Phương</p>
				</div>
			</div>

		</div>

	</div>

</div>
