<% content_for :main_navigation do %>
	<div class=' row'>

		<div class='col-md-12'>
			<div class='nav-button phone' data-toggle='collapse' data-target='.navHeader'>
				<button class='navbar-toggle' data-toggle='collapse' data-target='.navHeader'>
					<i class='fa fa-align-justify fa-2x'></i>	
				</button>	
			</div>

			<div class='collapse nav-collapse navHeader'>

				<ul class="nav phone">
					<%= nav_tab 'Home', root_path, :current => current_tab %>
					<%= nav_tab 'About', about_path, :current => current_tab %>
					<%= nav_tab 'Services', services_path, :current => current_tab %>
					<%= nav_tab 'Subsidiary', iit_corp_path, :current => current_tab %>
					<%= nav_tab 'Contacts', contacts_path, :current => current_tab %>
				</ul>

			</div>

			<ul class="nav nav-tabs desktop">
				<%= nav_tab 'Home', root_path, :current => current_tab, :id => 'home-nav-item' %>
				<%= nav_tab 'About', about_path, :current =>  current_tab, :id => 'about-nav-item' %>
				<%= nav_tab 'Services', services_path, :current => current_tab, :id => 'services-nav-item' %>
				<%= nav_tab 'Subsidiary', iit_corp_path, :current => current_tab, :id => 'subsidiary-nav-item' %>
				<%= nav_tab 'Contacts', contacts_path, :current => current_tab, :id => 'contacts-nav-item' %>
			</ul>
		</div>

		<div id='services-submenu'>
			<ul class='list-unstyled'>
				<li>
					<%= link_to t('main_nav.Electronics'), products_path %>
				</li>
				<li>
					<%= link_to t('main_nav.Travel'), travel_path  %>
				</li>
				<li>
					<%= link_to t('main_nav.Personal'), personal_finance_path %>
				</li>
			</ul>
		</div>
	
		<div id='subsidiary-submenu'>
			<ul class='list-unstyled'>
				<li>
					<%= link_to 'IIT Corporation', iit_corp_path  %>
				</li>
				<li>
					<%= link_to 'NACENOPTO Travel', travel_path %>
				</li>
			</ul>
		</div>

	</div>

<% end %>
