<%= form_tag(:url => url, :method => method, :html => { :class => 'form' } ) do %>

	<div class="row customer-info ">
		<div class="form-group col-md-12 col-xs-12" >
			<%= label_tag :name %><br>
			<%= text_field_tag :name, 'your name', :class => 'form-control' %>
		</div>

		<div class="form-group col-md-6 col-xs-12" >
			<%= label_tag :email %><br>
			<%= email_field_tag :email, 'email@mail.com', :class => 'form-control' %>
		</div>

		<div class="form-group col-md-6 col-xs-12" >
			<%= label_tag :phone %><br>
			<%= phone_field_tag :phone, '000xxxxxxx', :class => 'form-control' %>
		</div>
	</div>

	<div class="row place">
		<div class="form-group col-md-6 col-xs-12" >
			<%= label_tag :from %><br>
			<%= text_field_tag :from, 'Ha Noi (HAN)', :class => 'form-control' %>
		</div>

		<div class="form-group col-md-6 col-xs-12" >
			<%= label_tag :to %><br>
			<%= text_field_tag :to, 'Ho Chi Minh City (SGN)', :class => 'form-control' %>
		</div>
	</div>

	<div class="row time">
		<div class="form-group col-md-6 col-xs-12" >
			<%= label_tag :depart %><br>
			<%= text_field_tag :depart, Date.today.strftime('%d-%m-%Y %H:%M'), :class => 'form-control', :'data-field' => 'datetime' %>
		</div>

		<div class="form-group col-md-6 col-xs-12" >
			<%= label_tag :return %><br>
			<%= text_field_tag :return, Date.today.strftime('%d-%m-%Y %H:%M'), :class => 'form-control', :'data-field' => 'datetime' %>
		</div>

		<div id='dtBox'></div>
	</div>

	<div class="row quantity">
		<div class="form-group col-md-4 col-xs-12" >
			<%= label_tag :children %><br>
			<%= number_field_tag "children", 0, :min => 0, :class => 'form-control' %>
		</div>

		<div class="form-group col-md-4 col-xs-12" >
			<%= label_tag :adult %><br>
			<%= number_field_tag "adult", 0, :min => 0, :class => 'form-control' %>
		</div>

		<div class="form-group col-md-4 col-xs-12" >
			<%= label_tag :senior %><br>
			<%= number_field_tag "senior", 0, :min => 0, :class => 'form-control' %>
		</div>
	</div>

	<div class="actions">
		<%= button_tag "Order ticket", :class => 'btn btn-primary' %>
	</div>

<% end %>
