<% content_for :page_spec do %>
	<title>Home</title>
	<%= stylesheet_link_tag "home/home", media: "all" %>
	<%= stylesheet_link_tag "home/index", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "home/index" %>
<% end %>

<%= currently_at 'Home' %>

<%= render '/home/index/banner' %>

<div class='content container'>

	<%= render :partial => 'home/shared/services_en' %>

	<%= render :partial => 'home/shared/partners_en' %>

	<%= render :partial => 'home/shared/companyinfo_en' %>

</div>	<!-- end content -->
