<div class="mfp-hide preview-email-wrap">
	<div class="preview-email-content">
		<div class='travel-logo'> 
			<img class='img-responsive' src='/images/travel-logo.png' alt='Nacenopto travel agency' />
		</div>
		<h3>Thank you for purchasing your tickets at Nacenopto.com!</h3>
		
		<p>
		Your satisfaction is important to us, so if you have any questions please don't hesitate to 
		email or call us at +84-4-85 820 820. 
		</p>

		<p><span class='email_order_info'>Order Number: </span><span class="email_order_id"></span></p> 
		<p><span class='email_order_info'>Passenger(s): </span><span class="email_customer_name"></span></p> 
    

    <div class="form-group">
      <%= label_tag :code %><br>
      <%= text_field_tag :code, nil, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :names %><br>
      <%= text_area_tag :names, nil, :size => '140x5', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :segments %><br>
      <%= text_area_tag :segments, nil, :size => '140x6', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag :conditions %><br>
      <%= text_area_tag :conditions, nil, :size => '140x8', :class => 'form-control' %>
    </div>

		<p>
			<span class='email_order_info'>Flight information: </span>
			<span>To recheck your flight details, we recommend that you visit flight info section on our website</span>
		</p>
		</p>We look forward to welcoming you onboard Nacenopto soon!</p>
    <button class="btn btn-primary pull-right" id="send-email">Send email</button>

	</div>
</div>
