<% content_for :page_spec do %>
	<title>Customer orders</title>
	<%= stylesheet_link_tag "admin/dashboard", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "admin/panel_nav_toggle" %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ { :name => 'Orders' } ]		
	)%>
<% end %>

<% content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-money fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>ALL CUSTOMER ORDERS</h6>
		<h1>Orders</h1>
	</div>
<% end %>

<% content_for :maincontent do %>

	<div>
		<%= link_to "Manage orders (Employee region)", admin_orders_management_emp_path %>
	</div>

	<div>
		<%= link_to "Manage orders (Manager region)", admin_orders_management_man_path %>
	</div>

<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav'  %>
