<% content_for :page_spec do %>
	<title>Customer orders</title>
	<%= stylesheet_link_tag "admin/dashboard", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "admin/panel_nav_toggle" %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ { :name => 'Orders' } ]		
	)%>
<% end %>

<% content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-money fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>ORDERS REPORTING</h6>
		<h1>Orders</h1>
	</div>
<% end %>

<% content_for :maincontent do %>
	<%= render 'admin/orders/shared/export_filter_form' %>
<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav'  %>
