<% content_for :page_spec do %>
	<title>Customer orders</title>
	<%= stylesheet_link_tag "admin/dashboard", media: "all" %>
	<%= stylesheet_link_tag "footable/footable.core", media: "all" %>
	<%= stylesheet_link_tag "magnific-popup", media: "all" %>
	<%= stylesheet_link_tag "jquery-ui-custom", media: "all" %>
	<%= stylesheet_link_tag "admin/order_emp", media: "all" %>
	<%= stylesheet_link_tag "admin/order_man", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "admin/panel_nav_toggle" %>
	<%= javascript_include_tag "footable/footable" %>
	<%= javascript_include_tag "footable/footable.sort" %>
	<%= javascript_include_tag "footable/footable.paginate" %>
	<%= javascript_include_tag "magnific-popup" %>
	<%= javascript_include_tag "websockets/websockets" %>
	<%= javascript_include_tag "jquery-ui-custom" %>
	<%= javascript_include_tag "admin/order_common" %>
	<%= javascript_include_tag "admin/order_man" %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ 
			{ :name => 'Orders', :path => admin_orders_path }, 
			{ :name => 'Orders management (Manager region)' }
		]		
	)%>
<% end %>

<% content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-money fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>MAGAGE CUSTOMER ORDERS</h6>
		<h1>Orders</h1>
	</div>
<% end %>

<% content_for :maincontent do %>
	
	<% if @orders.size > 0 %>

		<%= render 'admin/orders/shared/filter_data' %>

		<table class='table footable' data-filter="#search" data-page-size="5">
			<thead>
				<tr>
					<th>Customer</th>
					<th>From</th>
					<th>To</th>
					<th data-hide="phone,tablet">Depart</th>
					<th data-hide="phone,tablet">Return</th>
					<th data-hide="phone,tablet">Created at</th>
					<th data-hide="phone,tablet">Status</th>
					<th data-sort-ignore="true" data-hide="phone,tablet">View detail</th>
					<th data-sort-ignore="true" data-hide="phone,tablet">View logs</th>
				</tr>
			</thead>

			<tbody>
			<% @orders.each do |order| %>
				<%= content_tag :tr, :class => 'order_id_' + order.id.to_s do %>
					<td><%= order.customer.name %></td>
					<td><%= order.from %></td>
					<td><%= order.to %></td>
					<td><%= order.depart_date %></td>
					<% if order.return_date %>
						<td><%= order.return_date %></td>
					<% else %>
						<td>&nbsp;</td>
					<% end %>
					<% if order.created_at %>
					<td><%= order.created_at %></td>
					<% else %>
						<td>&nbsp;</td>
					<% end %>
					<% if order.status == 1 %>
						<td><span class='order_status viewed'>VIEWED</span></td>
					<% elsif order.status == 2 %>
						<td><span class='order_status sent-email'>SENT EMAIL</span></td>
					<% elsif order.status == 3 %>
						<td><span class='order_status sent-tickets'>SENT TICKETS</span></td>
					<% else %>
						<td><span class='order_status new'>NEW</span></td>
					<% end %>
					<td>
						<%= button_tag 'View detail', :class => 'view-detail btn btn-primary btn-sm', :'data-order_id' => order.id %>
					</td>
					<td>
						<%= button_tag 'View logs', :class => 'view-logs btn btn-primary btn-sm', :'data-order_id' => order.id %>
					</td>
				<% end %>
			<% end %>
			</tbody>
			<tfoot class="hide-if-no-paging">
				<tr>
					<td colspan="3">
						<ul class="pagination pagination-centered">

						</ul>
					</td>
				</tr>
			</tfoot>
		</table>
	<% else %>
		<span>We don't have any order</span>
	<% end %>

	<%= render "admin/orders/shared/order_detail" %>
	<%= render "admin/orders/shared/action_log" %>
<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav'  %>
