<% content_for :page_spec do %>
	<title>Customer orders</title>
	<%= stylesheet_link_tag "admin/dashboard", media: "all" %>
	<%= stylesheet_link_tag "footable/footable.core", media: "all" %>
	<%= stylesheet_link_tag "admin/order_emp", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "admin/panel_nav_toggle" %>
	<%= javascript_include_tag "websockets/websockets" %>
	<%= javascript_include_tag "footable/footable" %>
	<%= javascript_include_tag "footable/footable.sort" %>
	<%= javascript_include_tag "footable/footable.filter" %>
	<%= javascript_include_tag "footable/footable.paginate" %>
	<%= javascript_include_tag "admin/order_emp" %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ 
			{ :name => 'Orders', :path => admin_orders_path }, 
			{ :name => 'Orders management (Employee region)' }
		]		
	)%>
<% end %>

<% content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-money fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>MAGAGE CUSTOMER ORDERS</h6>
		<h1>Orders</h1>
	</div>
<% end %>

<% content_for :maincontent do %>

	<% if @orders.size > 0 %>
		
		<form class="form-horizontal" role="form">
			<div class="form-group col-md-6 col-xs-12" >
				<%= text_field_tag :search, nil, :class => 'form-control', :placeholder => 'Enter keyword' %>
			</div>
			<div class="form-group col-md-6 col-xs-12" >
				<%= select_tag(
					:status, 
					options_for_select([['Viewed', 0], ['Sent email', 0], ['Sent tickets', 2]]), 
					:prompt => "Filter by status",
					:class => 'form-control' 
				)%>
			</div>
		</form>

		<table class='table footable' data-page-size="5">
			<thead>
				<tr>
					<th>From</th>
					<th>To</th>
					<th data-hide="phone,tablet">Depart</th>
					<th data-hide="phone,tablet">Return</th>
					<th data-hide="phone,tablet">Created at</th>
					<th data-sort-ignore="true" data-hide="phone,tablet">View order</th>
					<th data-sort-ignore="true" data-hide="phone,tablet">Send email</th>
					<th data-sort-ignore="true" data-hide="phone,tablet">Send tickets</th>
					<th>Status</th>
				</tr>
			</thead>

			<tbody>
			<% @orders.each do |order| %>
				<tr>			
					<td><%= order.from %></td>
					<td><%= order.to %></td>
					<td><%= order.depart.strftime('%d/%m/%Y %I:%M') %></td>
					<td><%= order.return.strftime('%d/%m/%Y %I:%M') %></td>
					<td><%= order.created_at.strftime('%d/%m/%Y %I:%M') %></td>
					<td>
						<%= button_tag 'View detail', :class => 'view-order btn btn-primary btn-sm', :'data-customer_id' => order.customer_id, :'data-from' => order.from, :'data-to' => order.to %>
					</td>
					<td>
						<%= button_tag  'Send email', :class => 'send-email btn btn-primary btn-sm', :'data-customer_id' => order.customer_id, :'data-from' => order.from, :'data-to' => order.to %>
					</td>
					<td>
						<%= button_tag 'Send tickets', :class => 'send-ticket btn btn-primary btn-sm', :'data-customer_id' => order.customer_id, :'data-from' => order.from, :'data-to' => order.to %>
					</td>
					<td></td>
				</tr>
			<% end %>
			</tbody>
			<tfoot class="hide-if-no-paging">
				<tr>
					<td colspan="3">
						<ul class="pagination pagination-centered">

						</ul>
					</td>
				</tr>
			</tfoot>
		</table>
	<% else %>
		<span>We don't have any order</span>
	<% end %>

<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav'  %>
