<% content_for :page_spec do %>
	<title>Customer orders</title>
	<%= stylesheet_link_tag "admin/dashboard", media: "all" %>
	<%= stylesheet_link_tag "footable/footable.core", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "admin/panel_nav_toggle" %>
	<%= javascript_include_tag "websockets/websockets" %>
	<%= javascript_include_tag "footable/footable" %>
	<%= javascript_include_tag "admin/order_emp" %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ 
			{ :name => 'Orders', :path => admin_orders_path }, 
			{ :name => 'Orders management (Employee region)' }
		]		
	)%>
<% end %>

<% content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-money fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>MAGAGE CUSTOMER ORDERS</h6>
		<h1>Orders</h1>
	</div>
<% end %>

<% content_for :maincontent do %>

	<% if @orders.size > 0 %>

		<table class='table footable'>
			<thead>
				<tr>
					<th data-toggle="true">Customer id</th>
					<th data-hide="phone,tablet">From</th>
					<th data-hide="phone,tablet">To</th>
					<th data-hide="phone,tablet">Depart</th>
					<th data-hide="phone,tablet">Return</th>
					<th data-hide="phone,tablet">Adult</th>
					<th data-hide="phone,tablet">Children</th>
					<th data-hide="phone,tablet">Created at</th>
					<th data-toggle="true">View order</th>
					<th data-hide="phone,tablet">Send email</th>
					<th data-hide="phone,tablet">Send tickets</th>
				</tr>
			</thead>

			<tbody>
			<% @orders.each do |order| %>
				<tr>			
					<td><%= order.customer_id %></td>
					<td><%= order.from %></td>
					<td><%= order.to %></td>
					<td><%= order.depart.strftime('%d/%m/%Y %I:%M') %></td>
					<td><%= order.return.strftime('%d/%m/%Y %I:%M') %></td>
					<td><%= order.adult %></td>
					<td><%= order.children %></td>
					<td><%= order.created_at.strftime('%d/%m/%Y %I:%M') %></td>
					<td><%= link_to 'View order', '#', :class => 'view-order', :'data-customer_id' => order.customer_id, :'data-from' => order.from, :'data-to' => order.to %></td>
					<td><%= link_to 'Send email', '#', :class => 'send-email', :'data-customer_id' => order.customer_id, :'data-from' => order.from, :'data-to' => order.to %></td>
					<td><%= link_to 'Send tickets', '#', :class => 'send-ticket', :'data-customer_id' => order.customer_id, :'data-from' => order.from, :'data-to' => order.to %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	<% else %>
		<span>We don't have any order</span>
	<% end %>


<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav'  %>
