<% content_for :page_spec do %>
	<title>Services</title>
	<%= stylesheet_link_tag "home/home", media: "all" %>
	<%= stylesheet_link_tag "home/services/services", media: "all" %>
<% end %>

<%= currently_at 'Services' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'Services',
			[{:name => 'Home', :path => root_path},
	 		{:name => 'Services'}]
		)%>
	</div>

	<div class='services-inner row'>

		<div class='subservices security-devices col-xs-12 col-md-4'>
			<%= link_to products_path do %>
				<img class='img-responsive' src='/images/electronic-telecom.jpg' alt='security devices' />
			<% end %>
			<p>
				<h2>Electronics and telecommunication solutions</h2>
				<p>Manufacturing and assembling of electronics and telecommunication equipment...</p>
				<%= link_to t("readmore").to_s, products_path %>
			</p>
		</div>
		<div class='subservices travel col-xs-12 col-md-4'>
			<%= link_to travel_path do %>
				<img class='img-responsive' src='/images/travel1.jpg' alt='travel' />
			<% end %>
			<p>
				<h2>Airlines ticket agent, tourist and visa services</h2>
				<p>We pride ourselves in being able to solve all your travel needs for both Business and Pleasure...</p>
				<%= link_to t("readmore").to_s, travel_path %>
			</p>
		</div>
		<div class='subservices finance col-xs-12 col-md-4'>
			<%= link_to personal_finance_path do %>
				<img class='img-responsive' src='/images/finance.jpg' alt='finance' />
			<% end %>
			<p>
				<h2>Personal finance services</h2>
				<p>The professionals in our practice offer the judgment, experience and capability required to...</p>
				<%= link_to t("readmore").to_s, personal_finance_path %>
			</p>
		</div>
	</div>

</div>
