<% content_for :page_spec do %>
	<title>Travel</title>
	<%= stylesheet_link_tag "jquery-ui-custom", media: "all" %>
	<%= stylesheet_link_tag "magnific-popup", media: "all" %>
	<%= stylesheet_link_tag "alertify.core", media: "all" %>
	<%= stylesheet_link_tag "home/home", media: "all" %>
	<%= stylesheet_link_tag "home/services/travel", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "jquery-ui-custom" %>
	<%= javascript_include_tag "alertify" %>
	<%= javascript_include_tag "magnific-popup" %>
	<%= javascript_include_tag "home/travel" %>
<% end %>

<%= currently_at 'Services' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'Travel',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Services', :path => services_path },
				{ :name => 'Travel' } 
			]
		)%>

		<div class='col-xs-12 col-md-3 col-md-offset-9 header-hotline'>
			<span class='blink-me'>HOTLINE: </span>
			<span>+84-4-85 820 820</span>
		</div>
	</div>

	<div class='services-inner row'>
		<% if flash[:notice] %>
			<div class='col-xs-12 col-md-12'>
				<%= content_tag('div', flash[:notice], :class => 'alert alert-success') %>
			</div>
		<% end %>

		<% if flash[:alert] %>
			<div class='col-xs-12 col-md-12'>
				<%= content_tag('div', flash[:alert], :class => 'alert alert-danger') %>
			</div>
		<% end %>

		<div class='col-xs-12 col-md-6'>
			<%= render 'home/services/shared/request_ticket_form', :url => travel_path, :method => 'POST' %>		
		</div>

		<div class='col-xs-12 col-md-6'>
			<div class='sale-banner'>
				<img class='img-responsive' src='/images/passport-map-travel.jpg' alt='Personal finance' />			
			</div>

			<div class='how-to-request'>
				<i class='fa fa-youtube fa-2x'></i>
				<a class="popup-youtube" href="https://www.youtube.com/watch?v=Lz48U8npOgc">Guide to request tickets</a>
			</div>

			<div class='recently-request'>
				<h4>Recently requested</h4>	
				<ul>
					<% if @recently_orders.size > 0 %>
						<% @recently_orders.size.times do |i| %>
							<%= 
								content_tag :li do 
									content_tag(:span, @customers[i] + ' purchased ' + @quantity[i].to_s + ' tickets ') +
									content_tag(:span, @recently_orders[i][:from] + ' - ' + @recently_orders[i][:to], :class => 'ticket-place') +
									content_tag(:span, @recently_orders[i][:depart_date].strftime(' at %d/%m/%Y'), :class => 'ticket-time')
								end
							%>
						<% end %>
					<% else %>
						<p>We have no recently customer request tickets</p>
					<% end %>
				</ul>
			</div>

			<div class='contact-info'>
				<div class='hotline'>
					<h4>	
						HOTLINE: +84-4-85 820 820
					</h4>
				</div>
				<div class='yahoo'>
					<a href = 'ymsgr:sendim?nacenopto_1'>
						<img src="http://opi.yahoo.com/online?u=nacenopto_1&m=g&t=2" border=0>
					</a>
					<a href = 'ymsgr:sendim?nacenopto_2'>
						<img src="http://opi.yahoo.com/online?u=nacenopto_2&m=g&t=2" border=0>
					</a>
					<a href = 'ymsgr:sendim?nacenopto_3'>
						<img src="http://opi.yahoo.com/online?u=nacenopto_3&m=g&t=2" border=0>
					</a>
					<a href = 'ymsgr:sendim?nacenopto_4'>
						<img src="http://opi.yahoo.com/online?u=nacenopto_4&m=g&t=2" border=0>
					</a>
				</div>
			</div>

		</div>

	</div>

	<%= render 'home/services/shared/dialog' %>

</div>
