<% content_for :page_spec do %>
	<title>Travel</title>
	<%= stylesheet_link_tag "jquery-ui-custom", media: "all" %>
	<%= stylesheet_link_tag "magnific-popup", media: "all" %>
	<%= stylesheet_link_tag "home/home", media: "all" %>
	<%= stylesheet_link_tag "home/services/travel", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "jquery-ui-custom" %>
	<%= javascript_include_tag "magnific-popup" %>
	<%= javascript_include_tag "home/travel" %>
<% end %>

<%= currently_at 'Services' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'Travel',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Services', :path => services_path },
				{ :name => 'Travel' } 
			]
		)%>
	</div>

	<div class='services-inner row'>
		<% if flash[:notice] %>
			<div class='col-xs-12 col-md-12'>
				<%= content_tag('div', flash[:notice], :class => 'alert alert-success') %>
			</div>
		<% end %>

		<% if flash[:alert] %>
			<div class='col-xs-12 col-md-6'>
				<%= content_tag('div', flash[:alert], :class => 'alert alert-danger') %>
			</div>
		<% end %>

		<div class='col-xs-12 col-md-6'>
			<%= render 'home/services/shared/request_ticket_form', :url => travel_path, :method => 'POST' %>		
		</div>

		<div class='col-xs-12 col-md-6'>
			<img class='img-responsive' src='/images/passport-map-travel.jpg' alt='Personal finance' />			
		</div>
	</div>

	<%= render 'home/services/shared/dialog' %>

</div>
