<% content_for :page_spec do %>
	<title>Contacts</title>
	<%= stylesheet_link_tag "home/contact/contacts", media: "all" %>
<% end %>

<%= currently_at "Contacts" %>

<% content_for :page_script do %>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVgvvWayy8jqwz0qqKjJ5_Q8jCHq81VoU&sensor=false">
	</script>

	<%= javascript_include_tag "home/contact/contacts" %>
<% end %>

<div class='contacts container'>

	<div class='row'>
		<%= render_page_header('Contacts',
			[{:name => 'Home', :path => root_path},
	 		{:name => 'Contacts'}] 
	 	)%>
	</div>
	
	<div class='contacts-inner row'>

		<div class='office col-xs-12 col-md-12 row'>

			<div class='col-xs-12 col-md-6'>
				<div class='map' id='vietnam-map' style='width: 100%; height: 100%;'></div>
			</div>

			<div class='col-xs-12 col-md-6'>
				<div class='map' id='germany-map' style='width: 100%; height: 100%;'></div>
			</div>

		</div>

		<div class='office col-xs-12 col-md-12 row'>

			<div class='address col-xs-12 col-md-3'>
        <h2>NACENOPTO CO., LTD.
          Optoelectronics Technology & Trading Corporation
        </h2>
				<div class='address'>
					<p>Address: 103 Lo Duc Str., Hai Ba Trung Disc., Hanoi, Vietnam</p>
					<p><span>Phone: </span> (+844) 38213672/ 38213673/ 39717373/ 39717374</p>
					<p><span>Fax: </span> (+844) 38211270</p>
					<p>
						<span>E-mail: </span>
						<%= mail_to 'info@nacenopto.com', 'info@nacenopto.com' %>
					</p>
				</div>
			</div>

			<div class='address col-xs-12 col-md-3'>
				<h2>Nacenopto Travel Agency @ Hanoi</h2>
				<div class='address'>
					<p>Address: 103 Lo Duc Str., Hai Ba Trung Disc., Hanoi, Vietnam</p>
					<p><span>Phone: </span>(+844) 38213672/ 38213673/ 39717373/ 39717374</p>
					<p><span>Fax: </span>(+844) 38211270</p>
					<p>
						<span>E-mail: </span>
						<%= mail_to 'Travel-Agency@nacenopto.com', 'Travel-Agency@nacenopto.com' %>
					</p>
         <p>
          Hot line: + 84 43 
          </p>
				</div>
			</div>

			<div class='address col-xs-12 col-md-3'>
				<h2>Nacenopto Travel Agency @ Berlin, Germany</h2>
				<div class='address'>
					<p>Address: Seefelder Str. 48, 13053, Berlin, Germany</p>
					<p><span>Phone: </span>(+49 30) 9827056/ 9823257</p>
					<p><span>Fax: </span>(+49 30) 9823277</p>
					<p>
						<span>E-mail: </span>
						<%= mail_to 'Nacenoptotrave@t-online.de', 'Nacenoptotrave@t-online.de' %>
					</p>
          <p>
            Hot line: + 49 30
          </p>
				</div>
			</div>

			<div class='address col-xs-12 col-md-3'>
				<h2>IBH Innovation & Technology Transfer Corporation</h2>
				<div class='address'>
					<p>Address: 103 Lo Duc Str., Hai Ba Trung Disc., Hanoi, Vietnam</p>
					<p><span>Phone: </span>(+844) 38213677</p>
					<p><span>Fax: </span>(+844) 38213688</p>
					<p>
						<span>E-mail: </span>
						<%= mail_to 'iit-corp@nacenopto.com', 'iit-corp@nacenopto.com' %>
					</p>
				</div>
			</div>

		</div>

	</div>

</div>
