<%= form_for(@category, :url => url, :method => method, :html => { :multipart => true, :class => 'form' } ) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>Errors:</h2>

      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :name_vi %><br>
    <%= f.text_field :name_vi, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => '40x8', :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
