<% content_for :page_spec do %>
	<title>Products management</title>
<% end %>

<% content_for :page_script do %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ 
			{ :name => 'Categories', :path => admin_categories_path }, 
			{ :name => 'Products', :path => admin_category_products_path }, 
			{ :name => 'Edit' } 
		]		
	)%>
<% end %>

<%= content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-laptop fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>EDIT PRODUCT</h6>
		<h1>Products</h1>
	</div>
<% end %>

<% content_for :maincontent do %>

<%= render 'form', :url => admin_category_product_path(@product.category_id, @product.id), :method => 'patch' %>

<%= link_to 'Show', admin_category_product_path(@product.category_id, @product.id) %> |
<%= link_to 'Back', admin_category_products_path %>

<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav' %>
