<% content_for :page_spec do %>
	<title>Products management</title>
<% end %>

<% content_for :page_script do %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ 
			{ :name => 'Categories', :path => admin_categories_path }, 
			{ :name => 'Products' } 
		]		
	)%>
<% end %>

<% content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-laptop fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>LISTING ALL PRODUCTS</h6>
		<h1>Products</h1>
	</div>
<% end %>

<% content_for :maincontent do %>
	<% if @products.size > 0 %>

		<%= link_to 'Create new product', new_admin_category_product_path %>

		<table class='table table-bordered'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
			<% @products.each do |product| %>
				<tr>			
					<td><%= product.name %></td>
					<td><%= product.description %></td>
	
					<td><%= link_to 'Show', admin_category_product_path(product.category_id, product.id) %></td>
					<td><%= link_to 'Edit', edit_admin_category_product_path(product.category_id, product.id) %></td>
					<td><%= link_to 'Destroy', admin_category_product_path(product.category_id, product.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	<% else %>
		<span>We don't have any product</span>
<% end %>
	<br>

	<%= link_to 'Create new product', new_admin_category_product_path %>
<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav' %>
