<% content_for :page_spec do %>
	<title>Products management</title>
	<%= stylesheet_link_tag "admin/dashboard", media: "all" %>
<% end %>

<% content_for :page_script do %>
	<%= javascript_include_tag "admin/panel_nav_toggle" %>
<% end %>

<% content_for :breadcrumbs do %>
	<%= create_breadcrumbs(
		[ 
			{ :name => 'Categories', :path => admin_categories_path }, 
			{ :name => 'Products', :path => admin_category_products_path }, 
			{ :name => 'New' } 
		]		
	)%>
<% end %>

<%= content_for :pageheader do %>
	<div class='page-icon'>
		<i class='fa fa-laptop fa-3x'></i>
	</div>
	<div class='page-title'>
		<h6>NEW PRODUCT</h6>
		<h1>Products</h1>
	</div>
<% end %>

<% content_for :maincontent do %>

	<%= render 'form', :url => admin_category_products_path, :method => 'post' %>

	<%= link_to 'Back', admin_category_products_path %>

<% end %>

<%= render :partial => 'shared/admin/cms_master_with_nav' %>
