<div class='row companyinfo'>

	<div class='col-xs-12 col-md-6 about-us'>

		<h2>
			<span>Thông tin</span>
		</h2>	

    <%= @info.description.html_safe %>

	</div>

	<div class='col-xs-12 col-md-6 contacts'>

		<h2>
			<span>Văn phòng</span>
		</h2>	
		
		<%= link_to contacts_path do %>
			<img class='office' src='/images/office2.jpg' alt='' />
		<% end %>
		<div class='address'>
			<p>Việt Nam</p>
			<p>103 Lò Đúc, Hà Nội</p>
			<p>SĐT: +84-4-3821 3672 / 73</p>
			<p>Fax: +84-4-3821 1270</p>
			<p>E-mail: <%= mail_to 'nacenopto@hn.vnn.vn', 'nacenopto@hn.vnn.vn' %></p>
		</div>

		<div class='clear'></div>

		<%= link_to contacts_path do %>
			<img class='office' src='/images/office1.jpg' alt='' />
		<% end %>
		<div class='address'>
			<p>Cộng Hòa Liên Bang Đức</p>
			<p>Seefelder Str.48-13053 Berlin</p>
			<p>SĐT : +49-30-9827056/9823257</p>
			<p>Fax : +49-30-9823277</p>
			<p>E-mail: <%= mail_to 'nacenoptoberlin@t-online.de', 'nacenoptoberlin@t-online.de' %></p>
		</div>

		<div class='clear'>
			<%= link_to t("readmore").to_s, contacts_path %>
		</div>


	</div>

</div>	<!-- end companyinfo -->
