<div class='row partners'>
	<div class='col-xs-12 col-md-12'>

		<h2>
			<span>Our partners</span>
		</h2>

		<div id='partner-slide' class="carousel slide" data-ride="carousel">

			<div class="carousel-inner">

				<div class="item active">
					<span>
						<%= link_to 'http://www.ibh-impex.de', :target => '_blank' do %>
							<img src="/images/partners/ibh-impex.jpg" alt="ibh impex" />
						<% end %>
					</span>
					<span>
						<%= link_to 'http://www.medav.de', :target => '_blank' do %>
							<img src="/images/partners/medav.jpg" alt="medav" />
						<% end %>
					</span>
					<span>
						<%= link_to 'http://www.vietnamairlines.com', :target => '_blank' do %>
							<img src="/images/partners/vietnam-airline.jpg" alt="vietnam airline" />
						<% end %>
					</span>
				</div>

				<div class="item">
					<span>
						<%= link_to 'http://www.rheinmetall-defence.com', :target => '_blank' do %>
							<img src="/images/partners/rheinmetall.jpg" alt="rheinmetall defence" />
						<% end %>
					</span>
					<span>
						<%= link_to 'http://www.zeiss.com', :target => '_blank' do %>
							<img src="/images/partners/zeiss.png" alt="zeiss" />
						<% end %>
					</span>
					<span>
						<%= link_to 'http://www.vtq.de', :target => '_blank' do %>
							<img src="/images/partners/vtq.png" alt="vietnam airline" />
						<% end %>
					</span>

				</div>

			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#partner-slide" data-slide="prev">
				<i class="fa fa-chevron-left"></i>
			</a>
			<a class="right carousel-control" href="#partner-slide" data-slide="next">
				<i class="fa fa-chevron-right"></i>
			</a>
		</div>

	</div>

</div>	<!-- end partners -->
