<div class='row services'>

	<div class='col-xs-12 col-md-12'>
		<h2>
			<span>Dịch vụ</span>
		</h2>
	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Giải pháp tổng thể về dịch vụ điện tử viễn thông</h3>
		<div class='services-description'>
			<p>
			<%= link_to security_devices_path do %>
				<img src='/images/security-devices.jpg' alt='security devices services' />
			<% end %>

			<p>Sản xuất, lắp ráp thiết bị điện tử viễn thông.</p>
			<p>
			Xuất nhập khẩu và chuyển giao công nghệ, dich vụ khoa học kỹ thuật tư vấn, 
			xây dựng dự án, thực hiện dự án và hỗ trợ sau bán hàng.
			</p>
			<p>
			Đại lý độc quyền các thiết bị công nghiệp, thiết bị công nghệ thông tin, 
			thiết bị điện tử viễn thông, thiết bị và giải pháp phần mềm và an ninh mạng, 
			thiết bị phòng thí nghiệm, thiết bị đo lường, thiết bị y tế… 
			</p>
		</div>
		<div class='clear'>
			<%= link_to t('readmore').to_s, security_devices_path %>
		</div>
		</p>

	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Đại lý bán vé máy bay, du lịch, visa</h3>
		<div class='services-description'>
			<p>
			<%= link_to travel_path do %>
				<img src='/images/airline-ticket.jpg' alt='airline tickets, tourist and visa services' />
			<% end %>
			Chúng tôi tự hào trong việc có thể giải quyết tất cả nhu cầu di chuyển cho doanh nghiệp và 
			mọi nhu cầu cá nhân của bạn. Sự hài lòng và hạnh phúc của khách hàng là mục tiêu của chúng tôi. 
			Hãy suy nghĩ của chúng tôi như một người bạn cùng đi du lịch với bạn để tư vấn và giới thiệu các 
			kỳ nghỉ hoàn hảo cho bạn. Chúng tôi cung cấp dịch vụ du lịch hoàn chỉnh cho các du khách đơn lẻ
			hay khách hàng khó tính, ngay cả khi bạn đang trên chuyến đi cũng như có mới đang có ý định đi du lịch.
			</p>
		</div>
		<div class='clear'>
			<%= link_to t('readmore').to_s, travel_path %>
		</div>
	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Dịch vụ tài chính cá nhân</h3>
		<div class='services-description'>
			<p>
			<%= link_to personal_finance_path do %>
				<img src='/images/financial-planning.jpg' alt='personal finance services' />
			<% end %>
			Các chuyên gia giàu kinh nghiệm thực tế của chúng tôi tư vấn cho các quyết định tài chính, phân tích chi tiết 
			trong các tình huống cụ thể để giúp bạn đạt được mục tiêu của bạn hiện tại cũng như tương lai. 
			Ngoài ra, đội ngũ chuyên gia còn có thể cung cấp một danh mục đầu tư chi tiết để có thể phục vụ tốt hơn nhu cầu  
			của các khách hàng khó tính.
			</p>
		</div>
		<div class='clear'>
			<%= link_to t('readmore').to_s, personal_finance_path %>
		</div>
	</div>
</div>
