<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <%= stylesheet_link_tag "application", :media => "all" %>
   <%= stylesheet_link_tag "admin/shared/dashboard", :media => "all" %>
	<%= yield :page_spec %>
   <%= csrf_meta_tags %>
</head>
<body>
   <%= yield %>

   <%= javascript_include_tag "application" %>
   <%= javascript_include_tag "admin/shared/panel_nav_toggle" %>
	<%= yield :page_script %>
</body>
</html>

